.form_label {
    font-family: "Montserrat Alternates Medium";
    font-size: 14px;
    color: #4D4D4D;
}
.form-control {
    border: 1.5px solid black;
    border-radius: 8px;
}
.formm {
    width: 60%;
}