.tarif {
    border: 2px solid black;
    border-radius: 8px;
}
.tarif_2 {
    border: 2px solid #CD4631;
    border-radius: 8px;
    background-color: #F7EDE8;
}
.tarif_pop {
    font-family: "Montserrat Alternates Bold";
    background-color: #CD4631;
    color: white;
    padding: 3px 6px;
    width: 157px;
    height: 30px;
    border-radius: 4px;
}